*{
	padding: 0;
	background-color: transparent;
	margin: 0;	
}
.container{
	width: 100%;
	height: 100%;
	margin: 1px auto;
}
.header{
	width: 100%;
	background: linear-gradient(to right, #00a1e3, #00a1e3);
	margin-top: 0.1%;
	display: inline-block;
}
img{
	width: 90px;
	height: 90px;
	margin: 3%;
	background-color: white;
	border-width: 1px;
	border-radius: 4px;
	border-color: #ddd;
}

.central{
	margin-top: 2%;
	width: 40%;
	margin-left: 0;
}
video{
	width: 600px;
	height: 600px;	

}
.tabsection{
	background: url('hmpg.jpg') 100% 100%;
	height: 600px;
	width: 100%;
	margin-top: 2%;
}

.footer{
	margin-left: 0;
	background: linear-gradient(to top, #493100, #fafffa);
}

.dropbtn{
	color: black;
	padding: 0;
	font-size: 16px;
	border-width: 1px;
	border-color: #000000;
	cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus{
	background-color: blue;
}
.sections{
	margin: 2%;
	position: relative;
	display: inline-block;
}
.dropcont{
	display: none;
	position: absolute;
	background-color: white;
	min-width: 150px;
	z-index: 1;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropcont a{
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropcont a:hover {
	background-color: #ddd;
}
.show{
	display: block;
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
    display: inline-block;
    margin-bottom: 25px;
    margin-right: 5%;
  }
}